<!DOCTYPE html>
<html>
  <head>
    <title>Blocmetrics</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <br>
  <div class="pull-right user-info">
    <% if current_user %>
    <%= current_user.username %>
    -
    <%= link_to "Sign Out", session_path(current_user), method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_session_path %>
    or
    <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </div>
  <br>
  <body>

    <%= yield %>

  </body>
</html>
